* {
  text-decoration: none;
}

body {
  background-image: url("4683.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100%;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: white;
}

input[type="radio"] {
  border: 0px;
  width: 10%;
  height: 1.5em;
}

.end {
  font-family: sans-serif;
  font-size: 50px;
  font-family: ubuntu;
  margin-top: 300px;
}

.and {
  font-family: sans-serif;
  font-size: 35px;
  font-family: ubuntu;
  margin-top: 300px;
}

#imgposition {
  margin-top: 230px;
  margin-left: 775px;
  width: 600px;
  height: 130px;
}

#img {
  margin-top: 15px;
  margin-left: 855px;
  width: 450px;
  height: 110px;
}

.quiz {
  margin-left: 20px;
  color: white;
  background-color: black;
  font-size: 25px;
  font-family: ubuntu;
}

@font-face {
  font-family: ubuntu;
  src: url(Ubuntu-M.ttf);
}

.login-form {
  width: 600px;
  background: transparent;
  background-color: black;
  height: 560px;
  padding: 50px 40px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  margin-left: 45px;
}
::placeholder {
  color: white;
  font-weight: 900;
  opacity: 1;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 20px 0;
  color: white;
}

.txtb input {
  font-size: 15px;
  font-weight: 900;
  color: black;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
  color: white;
}

.logbtn {
  display: block;
  width: 150px;
  height: 40px;
  margin-left: 200px;
  margin-top: 30px;
  background: #000;
  color: #fff;
  outline: #fff;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 900;
}
.logbtn1 {
  font-weight: 900;
  display: block;
  width: 150px;
  height: 40px;
  margin-left: 700px;
  background: #000;
  color: #fff;
  outline: #fff;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 12px;
  font-size: 20px;
}
.logbtn2 {
  font-weight: 900;
  display: block;
  width: 150px;
  height: 40px;
  margin-left: 700px;
  margin-top: 60px;
  background: #000;
  color: #fff;
  outline: #fff;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 12px;
  font-size: 20px;
}
.logbtn3 {
  display: block;
  width: 150px;
  height: 40px;
  margin-left: 700px;
  margin-top: 30px;
  background: #000;
  color: #fff;
  outline: #fff;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 900;
}
